* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2f6f7a;
    font-family: Arial, sans-serif;
    color: #0a2a33;
}

/* barra de navegação */

.barranavegacao {
    background: #8fb7be;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
}

.logo {
    font-size: 30px;
    color: #ffd500;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #103c44;
    text-shadow: 3px 3px #245e6b;
    font-family: "Pokemon", Arial, sans-serif;
}

nav {
    display: flex;
    gap: 25px;
    padding: 6px 18px;
    border-radius: 20px;
}

nav a {
    padding: 6px 14px;
    text-decoration: none;
    color: #103c44;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    transition: 0.3s;
}

nav a:hover {
    background: rgba(16, 60, 68, 0.15);
}

nav a.active {
    background: #1f5f6a;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

/* pesquisa */

.search {
    display: flex;
    gap: 10px;
    align-items: center;
    background: rgba(255,255,255,0.25);
    padding: 6px 14px;
    border-radius: 20px;
}

input,
select {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
}


.container {
    padding: 40px;
}

h1 {
    margin-bottom: 25px;
    font-size: 28px;
    color: #0d2f36;
}

/* grid de cartas */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

/* cards */

.card {
    background: #3e7f89;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
    transition: 0.3s;
}

.card:hover img {
    transform: scale(1.05);
}

/* botões */

button {
    background: #1f5f6a;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background: #184d56;
}

/*contador  */

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.counter span {
    background: #1f5f6a;
    padding: 8px 14px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

/* fonte */

@font-face {
    font-family: "Pokemon";
    src: url("./fonts/Pokemon Solid.ttf") format("truetype");
}
